/*color para los div de error*/
#MensError1{color: red;}#MensError2{color: red;}#MensError3{color: red;}#MensError4{color: red;}

.entropizer-track{background-color:#bbb;color:#fff;text-align:center;font-size:1em;width:100%;height:30px;line-height:30px;position:relative;border-radius:15px;overflow:hidden}
.entropizer-bar{width:0;height:30px;position:absolute;left:0;-moz-transition:background-color .75s ease,width .25s ease-out;-o-transition:background-color .75s ease,width .25s ease-out;-webkit-transition:background-color .75s ease,width .25s ease-out;transition:background-color .75s ease,width .25s ease-out}
.entropizer-text{width:100%;position:absolute;left:0;z-index:1}


        #campo2 .entropizer-track {
            background-color: #e8e8e8;
            border-radius: 2px;
            height: 4px;
        }
        #campo2 .entropizer-bar {
            height: 4px;
        }
       
        .affix {
            top: 9px;
            width: 255px;
        }
        /* Sidebar is really broken without media queries */
        #sidebar {
            display: none;
        }
        @media screen and (min-width: 1px) {
            #sidebar {
                display: block;
            }
        }